* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: #672f0a;
}

.head-table {
    font-weight: 900;
    font-size: 3rem;
}

table {
    width: 50%;
}

thead {
    color: #a97b4c;
    background-color: #672f0a;
}

table,
tr,
th,
td,
thead,
tbody {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem;
}

tbody tr:nth-child(even) {
    background-color: #a97b4c;
}